<%= render 'navbar' %>

<div class="row">
  <div class="col-md-8">
    <div class="loading-wrappper" id="js-loading">
      <%= image_tag 'loading.svg' %>
    </div>

    <canvas id="historyChartCanvas" width="50%"></canvas>
  </div>
</div>

