<h1>Histórico de status desde o dia <%= Date.current - 1.month %></h1>

<div class="graph-wrapper">
  <div class="loading-wrappper" id="js-loading">
    <%= image_tag 'loading.svg' %>
  </div>

  <canvas id="myChart" width="50%"></canvas>
<div>
