@import bootstrap/scss/bootstrap
@import font-awesome-sprockets
@import font-awesome

.loading-wrappper
  display: flex
  align-items: center
  justify-content: center

.jello-horizontal
  animation: jello-horizontal 0.9s infinite

@keyframes jello-horizontal
  0%
    transform: scale3d(1, 1, 1)
  30%
    transform: scale3d(1.25, 0.75, 1)
  40%
    transform: scale3d(0.75, 1.25, 1)
  50%
    transform: scale3d(1.15, 0.85, 1)
  65%
    transform: scale3d(0.95, 1.05, 1)
  75%
    transform: scale3d(1.05, 0.95, 1)
  100%
    transform: scale3d(1, 1, 1)

.data-box
  align-items: center
  display: flex
  height: 100%

.data-box__item
  flex-basis: 0
  flex-grow: 1
  font-size: 142%
  text-align: center

.data-box__item--green
  color: rgb(164, 198, 26)

.data-box__item--red
  color: rgb(255, 99, 132)

.data-box__item--orange
  color: rgb(255, 205, 86)

.data-box__item--blue
  color: rgb(3, 169, 244)
