<!DOCTYPE html>
<html>
  <head>
    <title>Slano</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body class="bg-dark text-light">
    <div class="container-fluid">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
